/*
COLORS
*/
$dark-navy: #1E1E2D;
$dark-blue: #121F49;
$blue: #0047ed;
$grey: #808D8E;

/*
FONTS
*/
$p-font: 'Cormorant Infant', serif;
$s-font: 'Lato', sans-serif;
body{
  margin: 0 auto;
}


/*
NAVBAR 
*/
.topnav {
  position: fixed;
  background-color: $grey;
  opacity: 0.8;
  width: 100%;
  margin: 0;
  padding: 0;
      a{
        float: left;  
        padding: 1rem 1.5rem;
        text-decoration: none;
        text-align: center;
        font-family: $s-font;
        &:hover{
          background-color: rgba(20, 20, 20, 0.3);
          color: $blue;
        }
      }

      .topnav-right{
        float: right;
      }
}

/*
GRID - MY BACKGROUND
*/

#my-background{
  display: grid;
  grid-template-rows: 1.75fr 1.25fr 0.75fr 1.25fr;
  grid-template-columns: 0.5fr 4.5fr;
  grid-template-areas: 
    "txt txt txt txt txt"
    "rect1 c1 c1 c1 c1"
    ". . line . ."
    "rect2 c2 c2 c2 c2"
    ". . line2 . .";
    h2{
      grid-area: txt;
      justify-self: center;
      align-self: center;
    }

    #rect1{
      grid-area: rect1;
      justify-self: center;
      align-self: center;
    }
    #card1{ 
      grid-area: c1;
      margin-right: 5em; 
    }
    #rect2{
      grid-area: rect2;
      justify-self: center;
      align-self: center;
    }
    #card2{
      grid-area: c2;
      margin-right: 5em; 
    }

}